h2{
    display: inline-block;
    color : white;
    background-color: #1AAB8A;
    padding-bottom: 10px;
}
hr{
    background-color: #1AAB8A;
}
.inputForm{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
}
img{
    width:20px;
    height:20px;
}
.submitBtn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.3em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.submitBtn:hover{
    background:#fff;
    color:#1AAB8A;
}
.submitBtn:before,.submitBtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:1px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.submitBtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.submitBtn:hover:before,.submitBtn:hover:after{
    width:100%;
    transition:800ms ease all;
}  